
body{
    margin: 0 auto;
    /* font-family: ヒラギノ角ゴ ProN; */
    font-family: 'Hiragino Kaku Gothic ProN';
}
header{
    width: 100%;
}

header .topmenu{
    width: 100%;
    display: flex;
}
.topHeader{
    left: 52px;
}
.sidenav ul{
    display: flex;
}






h1{
    float: left;
}

.topmenu{
    display: block;
}

.sidenav ul{
    overflow: hidden;
    float: right;
}

.sidenav li{
    float: left;
}

.sidenav li a{
    text-decoration: none;
    display: block;
}

.sidenav li a:hover{
    background-color:pink;
}

.mainpic{
    text-align: center;
}

img{
    height: 50px;
    width: 100px;
}

ul li {
    list-style-type: none;
}

.contact{
    text-align: center;
}

footer{
    background-color: black;
    color: white;
}
