
body{
    margin: 0 auto;
    font-family: ヒラギノ角ゴ ProN;
}


h1{
    float: left;
}

.sidenav{
    right: 0;
}

.mainpic{
    text-align: center;
}

img{
    height: 50px;
    width: 100px;
}

ul li {
    list-style-type: none;
}

.contact{
    text-align: center;
}

footer{
    background-color: black;
    color: white;
}
